/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* GLOBAL STYLES */
body {
    background-color: #111518;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto 50px auto;
}


/* HEADER STYLES */
header {
    position: relative;
    height: 50px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: 200;
    color: #ffff;
}

.nav__list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.nav__item {
    color: #ffff; 
    list-style: none;
    font-size: 14px;
}


/* SEARCH INPUT CONTAINER STYLES */
.search__input--container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.search__input {
    width: 60%;
    height: 35px;
    padding: 10px;
}

.search {
    cursor: pointer;
    background:#1e90ff;
    color: #ffff;
    padding: 0 20px;
    border: none;
    margin-left: 10px;
    border-radius: 2px;
    outline: none;
}

/* UPCOMING MOVIES */
.upcoming {
    display: flex;
    height: 500px;
    padding: 10px;
    overflow: scroll;
}

.upcoming__heading {
    background-color: blanchedalmond;
}

.upcoming__card--wrapper {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

    width: 280px;
    height: auto;
    margin: 40px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcoming__poster {
    background-color: antiquewhite;
    width: 260px;
    height: 300px;
}


/* OUTPUT SECTION */
.output {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.template__wrapper {
    width: 280px;
    height: auto;
    margin: 40px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__poster {
    height: 400px;
    width: 280px;
    border-radius: 4px;
    cursor: pointer;
}

.movie__poster:hover {
    transition: all .3s ease;
    opacity: .4;
}

.movie__title {
    padding: 10px;
    color: #fff;
    font-weight: 200;
    font-size: 13px;
    text-align: center;
}

.more__details {
    padding: 10px 12px;
    cursor: pointer;
    background: rgba(252, 7, 7, 0.797);
    color: #fff;
    border: none;
    border-radius: 4px;
}
