@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #111518;
  font-family: "Lato", sans-serif;
  // -webkit-font-smoothing: antialiased;
}

.app {
  min-height: 100%;
}

.container {
  min-height: calc(100vh - 100px);
  max-width: 1200px;
  margin: 0 auto 50px auto;
}

/* CLASSLISTS */
.hideAll {
  display: none;
}
