@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
    background-color: #111518;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto 50px auto;
}

/* CLASSLISTS */
.hideAll {
    display: none;
}