/* UPCOMING MOVIES */
.upcoming {
    margin-top: 100px;
    height: auto;
    height: 780px;
}

.upcoming__card--wrapper {
    display: flex;
}

.upcoming__poster--container {
    height: 680px;
    width: 50%;
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
    background-size: contain;
    display: flex;
}

.upcoming__poster--container::after {
    display: flex;
    content: "";
    background-color: #111518;
    height: 100%;
    width: 50%;
    background: linear-gradient(
        90deg,
        rgb(17, 21, 24) 0%,
        rgb(17, 21, 24) 30%,
        rgba(17, 21, 24, 0) 100%
    );
}

.upcoming__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.upcoming__title {
    font-size: 65px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

.upcoming__genre {
    color: #fff;
    margin-top: 10px;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: .4em;
}

.genre__separator {
    color: red;
}

.upcoming__overview {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}

.overview__title {
    color: #fff;
    font-weight: 200;
    line-height: 1.4em;
    width: 100px;
    height: 100px;
}

.overview__description {
    color: #fff;
    width: 500px;
    line-height: 1.6em;
    font-family: 'Lato', sans-serif;
}

// BUTTON styles
.upcoming__button {
    display: flex;
    background: none;
    color: red;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.upcoming__button i {
    font-size: 20px;
    margin-left: 10px;
    transition: all 300ms ease;
}

.upcoming__button:hover i {
    transform: translateX(10px);
}