/* UPCOMING MOVIES */
.upcoming {
    margin-top: 60px;
    height: auto;
    background-image: linear-gradient(to left, rgba(117, 70, 184, 0.461) 10%, #ffff, transparent);

}

.upcoming__card--wrapper {
    display: flex;

}

.upcoming__poster {
    border-radius: 2px;
}

.upcoming__title {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.651);
}
