/* HEADER STYLES */
header {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  font-size: 30px;
  font-weight: 200;
  color: #ffff;
  text-decoration: none;
}

.logo__movie {
  color: #1b43b3;
}

.logo__app {
  color: rgba(255, 0, 0, 0.845);
}

.nav__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.nav__item {
  color: #ffff;
  list-style: none;
  font-size: 14px;
}

/* SEARCH INPUT CONTAINER STYLES */
.search__input--container {
  display: flex;
  justify-content: center;
}

.search__bar {
  background: #273c75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  width: 300px;
  height: 35px;
}

.search__input {
  width: 80%;
  margin-left: 15px;
  border: none;
  height: 80%;
  background: none;
  outline: none;
  color: #fff;
}

.search__input::placeholder {
  color: #ffff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  cursor: pointer;
  border: none;
  padding: 0 8px;
  border-radius: 50px;
  outline: none;
  margin-right: 5px;
}
