.movie_card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 15px;
  padding: 20px 0;

  .movie_card-poster {
    height: 350px;
    cursor: pointer;
  }

  .movie_card-title {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}
